
{% extends 'base.html' %}
{% load static  %}
{% load crispy_forms_tags %}



{% block content %}

 

    
<main role="main" class="container">

    {% comment %} {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
        </ul>
    {% endif %} {% endcomment %}
<div class = "jumbotron">
  <div class = "header" >{{header}}</div>
    <div class="row"><!--Start of row-->
      <div class="col-sm-2"><!--Start of first col-sm-2--> 

                <form method='POST' action=''>{% csrf_token %}
                    {{form|crispy}}
                    <input class="btn btn-primary mybutton" type="submit" value='Search / Submit' />
                    <br>
                    <br>         
                </form>

      </div><!--end of col-sm-2-->

          


      <div class="col-sm-10"><!--Start of second col-sm-10--> 
                <div class="display_table">
                    <table class='table'>
                      <thead>
                        <tr>
                          {% comment %} <th>COUNT</th>
                          <th>ID</th> {% endcomment %}
                          <th>CATEGORY</th>
                          <th>ITEM NAME</th>
                          <th>TOTAL STOCK QUANTITY</th>
                          <th>ISSUED QUANTITY</th>
                          <th>ISSUED BY</th>
                          <th>ISSUED TO</th>
                          <th>RECEIVED QUANTITY</th>
                          <th>NEW_STOCK_RECEIVED_BY</th>
                          <th>LAST UPDATED</th>
                        </tr>
                      </thead>
                      {% for instance in queryset %}
                        <tr>

                          {% comment %} <td>{{forloop.counter}}</td>
                          <td>{{instance.id}}</td> {% endcomment %}
                          <td>{{instance.category}}</td>
                          <td>{{instance.item_name}}</td>
                          <td>{{instance.total_stock_quantity}}</td>
                          <td>{{instance.issued_quantity}}</td>
                          <td>{{instance.issued_by}}</td>
                          <td>{{instance.issued_to}}</td>
                          <td>{{instance.received_quantity}}</td>
                          <td>{{instance.new_stock_received_by}}</td>
                          <td>{{instance.last_updated}}</td>
                        </tr>
                      {% endfor %}
                    </table>
              </div>
            </div><!--End of second col-sm-10-->
    </div><!--End of row--> 
    </div>
    </main>


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% comment %} <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
<script src="{% static 'js/pager/paging.js' %}"></script>
<script src="{% static 'js/myjs.js' %}"></script>

{% endblock %}
</body>
</html>